@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
hmtl,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #064663;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #FFD369;
    border-radius: 10px;
}

.form-logo{
    display: block;
    border-radius: 50%;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.judul{
    margin: 10px;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.container-isi{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}
.email-form{
    margin-top: 10px;
}

.email-txt{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

.email-input{
    display: flex;
}

.form-email{
    border-radius: 10px;
    width: 300px;
    height: 35px;
    color: white;
    font-size: 12px;
    font-weight: 600px;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    border: 2px solid white;
    padding-left: 30px;
}

.form-email:focus{
    border-color: #FFD369;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.fa-solid{
    position: fixed;
    margin-top: 13px;
    margin-left: 10px;
    color: #FFD369; 
}

.pass-form{
    margin-top: 15px;
}

.password-txt{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

.cta{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    border: 2px solid white;
}

.cta-txt{
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: #FFD369;
    border-color: transparent;
    transition: all 0.2s ease-in-out;
}

.form-pass{
    border-radius: 10px;
    width: 270px;
    height: 35px;
    color: white;
    font-size: 12px;
    font-weight: 600px;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    border: 2px solid white;
    padding-left: 30px;
    padding-right: 30px;
}

.form-pass:focus{
    border-color: #FFD369;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.pass-cta{
    height: 20px;
    position: fixed;
    border: none;
    background: none;
    display: flex;
    margin-left: 300px;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    color: #FFD369;
    opacity: 50%;
}

.pass-cta:active{
    opacity: 100%;
}

.lupa-pw{
    display: flex;
    position: absolute;
    margin-top: 45px;
    margin-left: 235px;
    font-size: 12px;
}

.lupa-pw-cta{
    color: white;
    text-decoration: none;
}

.lupa-pw-cta:hover{
    color: #FFD369;
    background-color: transparent;
}

.buat-akun{
    display: flex;
    position: absolute;
    margin-top: 45px;
    margin-left: 2px;
    font-size: 12px;
}

.buat-akun-cta{
    color: white;
    text-decoration: none;
}

.buat-akun-cta:hover{
    color: #FFD369;
    background-color: transparent;
}